<div class="container">
  <h3><strong>ログイン</strong></h3>
  <div class="row">
    <div class="col-10">
      <%= form_with model: resource, url: session_path(resource_name) do |f| %>
        <% if resource.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(resource.errors.count, "error") %> prohibited this account from being logged in:</h2>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <table class="table table-borderless">
          <tr>
            <td style="width: 30%"><strong><%= f.label :email, class: "form-label" %></strong></td>
            <td>
              <%= f.text_field :email, autofocus: true, id: "email", class: "form-control", style: "width:40%" %>
            </td>
          </tr>
          <tr>
            <td><strong><%= f.label :password, class: "form-label" %></strong></td>
            <td>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", style: "width:40%"  %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "ログイン", class: "btn btn-info" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <h3><strong>会員登録がお済みでない方</strong></h3>
      <span>
        <%= link_to "こちら", new_user_registration_path %> から新規登録を行ってください。
      </span>
    </div>
  </div>
</div>