<!DOCTYPE html>
<html>
  <head>
    <title>ゆるCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/a5b17d123b.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="mb-3">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <%= link_to root_path, class: 'nav-link text-dark' do %>
            <span>ゆるCafe</span>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            
            <!--ユーザログイン時ヘッダー-->
            
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to path, class: 'nav-link text-dark' do %>
                <span>マイページ</span>
              <% end %>
            </li>
            <!--商品一覧-->
            <li class="nav-item">
              <%= link_to _path, class: 'nav-link text-dark' do %>
                <span>商品一覧</span>
              <% end %>
            </li>
            <!--カート内-->
            <li class="nav-item">
              <%= link_to _path, class: 'nav-link text-dark' do %>
                <span>カート</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                <span>ログアウト</span>
              <% end %>
            </li>
            
            <!--管理者ログイン時ヘッダー-->
            <% elsif admin_signed_in? %>
            <!--商品一覧-->
            <li class="nav-item">
              <%= link_to path, class: 'nav-link text-dark' do %>
                <span>商品一覧</span>
              <% end %>
            </li>
            <!--会員一覧-->
            <li class="nav-item">
              <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
                <span>会員一覧</span>
              <% end %>
            </li>
            <!--注文履歴一覧-->
            <li class="nav-item">
              <%= link_to path, class: 'nav-link text-dark' do %>
                <span>注文履歴一覧</span>
              <% end %>
            </li>
            <!--ジャンル一覧-->
            <li class="nav-item">
              <%= link_to path, class: 'nav-link text-dark' do %>
                <span>ジャンル一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                <span>ログアウト</span>
              <% end %>
            </li>
            <!--非ログイン時-->
            <% else %>
            <!--商品一覧-->
            <li class="nav-item">
              <%= link_to path, class: 'nav-link text-dark' do %>
                <span>商品一覧</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                <span>新規登録</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                <span>ログイン</span>
              <% end %>
            </li>
            <% end %>
            
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="max-auto">
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
